<h5>Welcome to the Android Census.</h5><br />
    
This is a collection of low-level configuration information for <%= Device.count %> Android devices. The raw dataset is available <a href="https://www.dropbox.com/s/r5ils77cge9f04s/census.db.bz2">here</a>.
