<h5>Welcome to the Android Census.</h5><br />
    
This is a collection of low-level configuration information for <%= Device.count %> Android devices. The raw dataset is available <a href="https://www.dropbox.com/s/e5mefgo4qxiloml/census_073114.db.bz2">here</a>. <br /> <br />

Begin exploring it <a href="/devices">here</a>, or check out the source code on GitHub (<a href="https://github.com/vlad902/censustaker">client</a>, <a href="https://github.com/vlad902/census.tsyrklevich.net">server</a>).
